@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Luckiest Guy', cursive;
}

main{
    height: 100dvh;
    background: #6A4C93;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h1{
    padding-top: 3rem;
    letter-spacing: 0.2rem;
    font-size: 2.5rem;
}

h4{
    letter-spacing: 0.2rem;
}

.input-box{
    margin-top: 4rem;
    height: 3.063rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.text-box{
    width: 80%;
    height: 3.063rem;
}

.text-inputbox{
    width: 100%;
    height: 3.063rem;
    background: #1982C4;
    color: white;
    padding-left: 2rem;
}

.save-button{
    width: 15%;
    height: 3.063rem;
}

.save-innerbtn{
    width: 100%;
    height: 100%;
    background: #1D3557;
    color: white;
}

section{
    margin-top: 3rem;
    width: 80%;
    height: 60dvh;
}

.taskdesc{
    background: #3A0CA3;
    width: 100%;
    border-radius: 1.0rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.taskdesc p{
    width: 70%;
    padding-left: 2rem;
}

.statusContainer{
    width: 25%;
    height: 100%;
}

.statusTextContainer{
    text-align: center;
}

.statusBoxes{
    display: flex;
    margin: 1rem;
    gap: 1rem;
}

.statusBoxes div{
    width: 3.813rem;
    height: 3.124rem;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.2rem;
    cursor: pointer;
}

.statusBoxes div:first-child{
    background: #FF595E;
}

.statusBoxes div:nth-child(2){
    background: #FFCA3A;
}

.statusBoxes div:last-child{
    background: #8AC926;
}