@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Luckiest Guy', cursive;
    --primary-color:#6A4C93;
    --secondary-color:#1982C4;
    --button-color: #1D3557;
    --card-color: #3A0CA3;
    --text-color:white;
    --not-started:#FF595E;
    --in-progress:#FFCA3A;
    --completed:#8AC926;
}